[Unit]
Description=Kafdrop Service
Requires=network.target
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/usr/local/bin/kafdrop/
ExecStart=/bin/bash kafdrop_run.sh 
StandardOutput=/var/log/kafdrop-collector/kafdrop-collector.log
StandardError=/var/log/kafdrop-collector/kafdrop-collector.err

[Install]
WantedBy=multi-user.target